
.Rhistory
*.docx
*.png
*.png
.Rproj.user
data/fticr/.DS_Store
data/fticr/Icon
data/fticr/unused/Icon
data/.DS_Store
data/fticr/.DS_Store
data/fticr/unused/Icon
stomfiles/.DS_Store
.DS_Store
.DS_Store
data/fticr/.DS_Store
data/fticr/Icon
